<div class="shopping-cart" [ngClass]="{'shopping-cart--open': isCartOpen}">
  <span class="bag bag--shopping-cart-closed" *ngIf="!isCartOpen" (click)="changeCart()">
    <span class="bag__quantity">{{ countItems }}</span>
  </span>
  <div class="shopping-cart__close-btn" (click)="changeCart()" *ngIf="isCartOpen">X</div>
  <div class="shopping-cart__content">
    <div class="shopping-cart__content__header">
      <span class="bag">
        <span class="bag__quantity">{{ countItems }}</span>
      </span>
    </div> <!--end shopping-cart__content__header -->

    <div class="shopping-cart__content__shelf-container">
      <div class="shelf-item" *ngFor="let item of cart.items; let i = index" [ngClass]="{'shelf-item--mouseover': mouseoverArray[i]}">
        <div class="shelf-item__del" (click)="removeItem(i)" (mouseover)="mouseoverItem(i)" (mouseout)="mouseoutItem(i)"></div>
        <div class="shelf-item__thumb">
          <img [src]="'/assets/images/' + item.product.sku + '.jpg'" >
        </div>
        <div class="shelf-item__details">
          <p class="title">{{ item.product.title }}</p>
          <p class=desc>
            {{ item.product.currencyFormat }} {{ item.product.price }}
            <br>
            Quantity: {{ item.count }}
          </p>
        </div>
        <div class="shelf-item__price">
          <p>{{ (item.product.price * item.count) | number }}$</p>
          <div>
            <button [disabled]="item.count <= 1" class="change-product-button" (click)="decreaseCountProduct(i)">-</button>
            <button class="change-product-button" (click)="increaseCountProduct(i)">+</button>
          </div>
        </div>
      </div>
    </div> <!--end shopping-cart__content__shelf-container -->

    <div class="shopping-cart__footer">
      <div class="sub"> SUBTOTAl</div>
      <div class="sub-price"><p class="sub-price__val">$ {{ cartTotalPrice | number }}</p><small class="sub-price__installment"><span>OR UP TO {{ maxInstallmentPrice }} x $ {{ (cartTotalPrice / maxInstallmentPrice) | number }}</span></small>
      </div>
      <div class="buy-btn">Checkout</div>
    </div> <!--end shopping-cart__footer -->
  </div>
</div> <!--end shopping-cart -->
