<div class="product-filter">
  <h5 class="product-filter__title">
    Sizes
  </h5>
  <div *ngFor="let size of sizes" class="product-filter__available-size">
    <div class="product-filter__size-checkbox-group" (click)="toggleCheckboxChange(size)">
      <input
        type="checkbox"
        [value]="size.key"
        [checked]="size.checked"
      >
      <span class="checkmark">{{ size.value }}</span>
    </div>
  </div>
  <div class="product-filter__info">
    <div class="product-filter__info--text">
      Leave a star on Github if this repository was useful :)
    </div>
    <div class="product-filter__info--button">
      <button class="btn btn-info btn-sm" (click)="clickRepo()">
        <img src="/assets/images/star.svg">
        Star
      </button>
      <button class="btn btn-outline-info btn-sm" (click)="clickRepo()">
        123
      </button>
    </div>
  </div>
</div>
